<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta property="og:title" content="Roman Pobotin - Portfolio"/>
    <meta property="og:image" content="./static/assets/images/logo.png"/>
    <meta content="QA automation engineer portfolio" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/images/logo.png">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

    <title>About me</title>

    <link href="{{ url_for('static', filename='main.3f6952e4.css') }}" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
    <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="./" title="">01 : Home</a></li>
                    <li><a href="./projects" title="">02 : Projects</a></li>
                    <li><a href="./about" title="">03 : About me</a></li>
                    <li><a href="./contact" title="">04 : Contact</a></li>
                    <li><a href="./manifesto" title="">05 : AQA Manifesto</a></li>
                </ul>


            </div>
        </div>
    </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">03 : About me</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h3>Welcome, I'm Roman Pobotin</h3>
                                <p>I lead Quality Assurance Automation with a focus on blending traditional testing with
                                    the innovative fields of SDET and TestOps. Since December 2015, I've been on a
                                    mission to transform automated testing for both web and mobile platforms, striving
                                    for seamless integration into development cycles.</p>

                                <h3>What I Do:</h3>
                                <ul>
                                    <li>Analyze products to lay down robust QA foundations.</li>
                                    <li>Design and implement strategic test automation frameworks.</li>
                                    <li>Develop innovative tools and solutions for complex application testing,
                                        providing analytics and solving business problems, such as comparison tools that
                                        offer actionable feedback.
                                    </li>
                                    <li>Optimize continuous integration and insights through detailed reporting.</li>
                                    <li>Guide and mentor my team, promoting a culture of innovation and quality. This
                                        includes not only teaching test writing but also empowering them to build their
                                        own solutions.
                                    </li>
                                </ul>

                                <h3>Technical Expertise:</h3>
                                <p>My technical prowess is defined by a comprehensive skill set across various
                                    languages, tools, and systems:</p>
                                <ul>
                                    <li>Languages: Highly proficient in Python; foundational knowledge in JavaScript and
                                        C#
                                    </li>
                                    <li>Tools: Expert in Selenium WebDriver, Appium, Allure; proficient in
                                        bash/PowerShell, Cypress, etc. Skilled in Playwright and Puppeteer for browser
                                        automation
                                    </li>
                                    <li>Cloud and DevOps: Proficient in a comprehensive range of AWS services including
                                        S3, Secret Manager, Boto3, AWS Device Farm, RDS, ECS, ECR, CloudFormation, and
                                        more.
                                        Skilled in managing infrastructure as code with AWS CDK (TypeScript), and adept
                                        in using CodeCommit, CodeBuild, CodePipeline, Artifactory, and CodeArtifact.
                                        Experienced with AWS ChatBot, SNS, VPC, Security Groups, and IAM to ensure
                                        robust and secure cloud solutions.
                                    </li>
                                    <li>Version Control: Skilled in Git</li>
                                    <li>Continuous Integration: Experienced with Jenkins, TFS, GitHub Actions</li>
                                    <li>Testing Frameworks: In-depth knowledge of pytest</li>
                                    <li>Operating Systems: Versatile in Mac OS, Windows, Unix</li>
                                    <li>Databases: Proficient in MS SQL, MySQL, and PostgreSQL</li>
                                    <li>Computer Vision: Familiar with OpenCV for image processing and computer vision
                                        tasks in testing scenarios, such as validating canvas elements
                                    </li>
                                    <li>Web Frameworks: Able to create simple web services and UIs with Flask; some
                                        experience with Django
                                    </li>
                                    <li>Monitoring: Knowledgeable in using Grafana for monitoring and visualization</li>
                                    <li>Prompt Engineering: Skilled in leveraging advanced technologies like ChatGPT,
                                        Gemini, or Amazon Q to solve complex problems and innovate beyond traditional QA
                                        tasks
                                    </li>
                                </ul>
                                <h3>Leadership and Mentorship:</h3>
                                <p>As a leader managing a team of six QA engineers, I have cultivated a culture of
                                    continuous learning and improvement. My mentorship has successfully transitioned
                                    three manual QA engineers to automation roles within a year, demonstrating my
                                    commitment to developing talent and promoting automation within the QA field.</p>

                                <h3>Career path (descending):</h3>
                                <p>
                                <ul>
                                <li>
                                    <a href="https://company.diia.gov.ua/" target="_blank">Diia</a> (Senior AQA)
                                    </li>
                                <li>
                                    <a href="https://squad.ua/" target="_blank">SQUAD</a> (Lead AQA/SDET)
                                </li>
                                <li>
                                    <a href="https://bcdtriptech.peopleforce.io/careers" target="_blank">BCD
                                        TripTech</a> (Senior AQA)
                                    </li>
                                <li>
                                    <a href="https://www.globallogic.com" target="_blank">GlobalLogic</a> (Senior
                                        SDET -> Lead SDET)
                                    </li>
                                <li>
                                    <a href="https://intelity.com/" target="_blank">KEYPR/INTELITY</a> (Senior QA);
                                    </li>
                                <li>
                                    <a href="https://www.globallogic.com" target="_blank">GlobalLogic</a>
                                        (Automation QA);
                                    </li>
                                <li>
                                    <a href="https://www.adyax.com" target="_blank">Adyax</a> (Middle QA -> Senior
                                        QA);
                                    </li>
                                <li>
                                    <a href="https://trustsourcing.com" target="_blank">Trust Sourcing</a> (Intern
                                        QA -> Middle QA);
                                    </li>
                                </ul>
                                </p>
                                <h3>Find more info:</h3>
                                <p>
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/in/romanpobotin/" target="_blank">
                                            Linkedin profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/static/CV.pdf" download>Download my CV</a>
                                    </li>
                                </ul>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h3>
                                    <img src="./static/assets/images/avatar.JPG" class="img-responsive" alt="">
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><a href="https://github.com/Goraved" title="GitHub profile" target="_blank">Goraved 2024</a></p>
            </div>
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
       navActivePage();
    });


</script>


<script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-119547534-2', 'auto');
    ga('send', 'pageview');


</script>

<script type="text/javascript" src="{{ url_for('static', filename='main.70a66962.js') }}"></script>
</body>

</html>
