<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta property="og:title" content="Roman Pobotin - Portfolio"/>
    <meta property="og:image" content="./static/assets/images/logo.png"/>
    <meta content="QA automation engineer portfolio" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/images/logo.png">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

    <title>Contact</title>

    <link href="{{ url_for('static', filename='main.3f6952e4.css') }}" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
{% include 'header.html' %}

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">04 : Contact me</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form action="" class="reveal-content">
                            <div class="row">
                                <div class="col-md-7">
                                    <img src="./static/assets/images/logo_transparent_cut.png" class="img-responsive"
                                         alt="">
                                </div>
                                <div class="col-md-5 address-container text-center">
                                    <ul class="list-unstyled">
                                        <li>
                                          <span class="fa-icon">
                                            <i class="fa fa-map" aria-hidden="true"></i>
                                          </span>
                                            <a href="https://goo.gl/maps/BLm8avsh5xMDkph8A" target="_blank">Kyiv,
                                                Ukraine</a>
                                        </li>
                                        <li>
                                          <span class="fa-icon">
                                            <i class="fa fa-at" aria-hidden="true"></i>
                                          </span>
                                            <a href="mailto:roman.pobotin@gmail.com" target="_blank">roman.pobotin@gmail.com</a>
                                        </li>
                                        <li>
                                          <span class="fa-icon">
                                            <i class="fa fa-skype" aria-hidden="true"></i>
                                          </span>
                                            <a href="https://join.skype.com/invite/oazNKEXx8g0o" target="_blank">lord.grave</a>
                                        </li>
                                    </ul>
                                    <h3>Find me on social networks</h3>
                                    <a href="https://www.facebook.com/roma.pobotin" title="" class="fa-icon"
                                       target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/romanpobotin/" title="" class="fa-icon"
                                       target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/Goraved" title="" class="fa-icon"
                                       target="_blank">
                                        <i class="fa fa-github"></i>
                                    </a>
                                    <a href="https://repl.it/@RomanPobotin" title="" class="fa-icon"
                                       target="_blank">
                                        Repl
                                    </a>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>

</html>