<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta property="og:title" content="Roman Pobotin - Portfolio"/>
    <meta property="og:image" content="../static/assets/images/logo.png"/>
    <meta content="QA automation engineer portfolio" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/images/logo.png">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

    <title>Project - {{title}}</title>

    <link href="{{ url_for('static', filename='main.3f6952e4.css') }}" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
{% include 'header.html' %}

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="../static/assets/images/{{work_name}}_01.png" class="img-responsive" alt="">
                <div class="card-container">
                    <div class="text-center">
                        <h1 class="h2">{{title}}</h1>
                    </div>
                    <blockquote>
                        <p>{{desc}}</p>
                        {% for link in site_link %}
                        <small class="pull-left"><a href="{{link}}" target="_blank">Site link</a></small>
                        {% endfor %}
                        <small class="pull-right"><a href="{{git_link}}" target="_blank">Git link</a></small>
                    </blockquote>
                </div>
            </div>


            <div class="col-md-8 col-md-offset-2 section-container-spacer">
                <div class="row">
                    {% for image in images %}
                    <div class="col-xs-12 col-md-6">
                        <a href="../static/assets/images/{{image['name']}}" target="_blank"> <img
                                src="../static/assets/images/{{image['name']}}"
                                class="img-responsive img_max_height"
                                alt=""></a>
                        <p>{{image['desc']}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>