<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta property="og:title" content="Roman Pobotin - Portfolio"/>
    <meta property="og:image" content="./static/assets/images/logo.png"/>
    <meta content="QA automation engineer portfolio" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/images/logo.png">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

    <title>Projects</title>

    <link href="{{ url_for('static', filename='main.3f6952e4.css') }}" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
{% include 'header.html' %}

<div class="section-container">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                <div class="text-center">
                    <h1 class="h2">02 : Projects</h1>
                    <p>Here are my pet projects based on Python.</p>
                    <p>You can also look my <a href="https://github.com/Goraved" target="_blank">GitHub</a> profile.</p>
                </div>
            </div>

            <div class="col-md-12">

                <div id="myCarousel" class="carousel slide projects-carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        {% for chunk in info %}
                        {% if loop.index == 1 %}
                        <div class="item active">
                            {% else %}
                            <div class="item">
                                {% endif %}
                                <div class="row">
                                    {% for project in chunk %}
                                    <div class="col-sm-4">
                                        <a href="./project/{{project['tech_name']}}" title=""
                                           class="black-image-project-hover">
                                            <img src="./static/assets/images/{{project['tech_name']}}_01.png" alt=""
                                                 class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>{{project['index']}}/{{len_projects}}</h4>
                                            <h3>{{project['title']}}</h3>
                                            <p>{{project['description']}}</p>
                                            <a class="btn btn-default" href="./project/{{project['tech_name']}}"
                                               title="">Discover</a>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                                <!--/row-->
                            </div>
                            {% endfor %}
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>

                    <!--/myCarousel-->
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'footer.html' %}
</body>

</html>